/*------- 我的企业简介 -------*/
.fz12{font-size:12px;}
.company_profile_wrapper .company_profile_business{padding:10px 16px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#fff;margin-bottom:15px;}
.company_profile_wrapper .company_profile_introduce{padding:10px 16px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#fff;margin-bottom:15px;}
.company_profile_wrapper .company_profile_contact{padding:10px 16px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#fff;margin-bottom:15px;}
/*------- 我的企业简介 -------*/