/*------- 收藏企业 -------*/
/* 主体内容 */
.company_collect_wrapper{margin-bottom:15px;}
.company_collect_wrapper .company_collect_list_wrap{border-top:1px solid #dcdcdc;}
.company_collect_wrapper .company_collect_list_wrap .company_collect_list{display:-webkit-box;background:#fff;border-bottom:1px solid #dcdcdc;height:auto;}
.company_collect_wrapper .company_collect_list_wrap .company_collect_list .company_collect_list_icon{margin:12px 10px 0 16px;display:block;}
.company_collect_wrapper .company_collect_list_wrap .company_collect_list .company_collect_list_info{margin:12px 16px 0 0;-webkit-box-flex:1;display:block;font-size:12px;}
.company_collect_wrapper .company_collect_list_wrap .company_collect_list .company_collect_list_info .company_collect_list_info_title{padding-bottom:4px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.company_collect_wrapper .company_collect_list_wrap .company_collect_list .company_collect_list_info .company_collect_list_info_bussiness{color:#8a8a8a;text-overflow:ellipsis;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
/* 筛选 */
.unselected_icon{width:46px; /*height:36px;margin-top:24px;*/ background:url("../images/goods_unselected.png") no-repeat center;background-size:45%;display:none;}
.selected_icon{background:url("../images/goods_selected.png") no-repeat center;background-size:45%;}
/* 底部 */
footer{display:none;}
footer .allselected{margin-top:7px;}
footer span{display:block;-webkit-box-flex:1;line-height:50px;}
footer .news_delete{width:76px;height:36px;line-height:36px;display:block;border:none;margin-top:7px;margin-right:15px;background:#dcdcdc;text-align:center;color:#fff;border-radius:3px;}
footer .news_delete_selected{background:#f15252;}
/*------- 收藏企业 -------*/

.header_right{color: white;} 
.weui-cells_checkbox{margin-bottom: 50px;}
.list_detail{padding: 10px;}
.list_detail h4{font-size: 18px; color: #333;}


