.weui-media-box_appmsg .weui-media-box__thumb {width: 100%;height: 100%;}
section .news_list{background:#fff;}
section .news_list ul li{width:100%;/*padding:16px 0;*/border-bottom:1px solid #dcdcdc;overflow:hidden;display:-webkit-box;}
section .news_list ul li a{display:block;}
section .news_list ul li .new_title{display:block;padding:0 16px 0 10px;overflow:hidden;-webkit-box-flex:1;}
section .news_list ul li .new_title .new_title_main{line-height:1.8em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
section .news_list ul li .new_title .new_title_sub{line-height:1.3em;margin-top:2px;font-size:12px;color:#999;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.tele{width: 80px;height: 100%;text-align: center;}
.tele span{display: block;font-size: 14px;}
.weui-cell__ft{width: 20px;height: 20px;}
.weui-cell__ft .tl{border:1px solid #999;width: 10px;height: 10px;transform: rotate(45deg);border-bottom: 0;border-left:0;}
/* 筛选 */
.unselected_icon{width:46px;/*height:36px;margin-top:18px;*/background:url("../images/goods_unselected.png") no-repeat center;background-size:45%;display:none;}
.selected_icon{background:url("../images/goods_selected.png") no-repeat center;background-size:45%;}
/* 底部 */
footer{display:none;}
footer .allselected{margin-top:7px;}
footer span{display:block;-webkit-box-flex:1;line-height:50px;}
footer .news_delete{width:76px;height:36px;line-height:36px;display:block;border:none;margin-top:7px;margin-right:15px;background:#dcdcdc;text-align:center;color:#fff;border-radius:3px;}
footer .news_delete_selected{background:#f15252;}


/*-------------------------*/
.header_right{color: white;} 
.weui-cell__bd .tele img{width: 15px; display: block; margin: 0 auto;}
.weui-cell__bd .tele span{margin-top: 5px; font-size: 14px;}
