.mgt10{margin-top:10px;}
.weui-form-preview__hd{line-height:30px;}
.weui-form-preview__hd .weui-form-preview__value{font-size:16px;font-weight:bold;}
.weui-form-preview__value{text-align:left;}
.weui-loadmore{display:none;}
.editor_footer{width:100%;padding:14px 0;background:#fff;left:0;bottom:0;position:fixed;z-index:99;font-size:14px;text-align:center;color:#38d163;border-top:1px solid #dcdcdc;}