/*------- 我的企业简介 -------*/
.fz12{font-size:12px;}
.mycompany_profile_wrapper .mycompany_profile_business{padding:10px 16px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#fff;margin-bottom:15px;}
.mycompany_profile_wrapper .mycompany_profile_introduce{padding:10px 16px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#fff;margin-bottom:15px;}
/*------- 我的企业简介 -------*/