.header_right{color: white;} 
.content{width: 90%; margin: 0 auto; margin-top: 50px;}
.content p{padding-top: 15px; font-size: 14px; font-family: "微软雅黑"; color: #e14a4a;}
.weui-cells{margin-top: 0.5em;}
