/*------- 登录页面 开始 -------*/
header{z-index: 1;}
/* 主体内容 */
.repassword_wrapper .repassword_content{margin:15px 0 36px;}
.repassword_wrapper .repassword_content .repassword_item{display:-webkit-box;border-bottom:1px solid #e5e5e5;}
.repassword_wrapper .repassword_content .repassword_item:last-child{border-bottom:0;}
/* 图标 */
.repassword_wrapper .repassword_content p i{width:32px;display:block;}
.repassword_wrapper .repassword_content .repassword_content_phone .repassword_content_phone_icon{background:url("../images/new_phone.png") no-repeat center #fff;background-size:70%;}
.repassword_wrapper .repassword_content .repassword_content_password .repassword_content_password_icon{background:url("../images/suo.png") no-repeat center #fff;background-size:70%;}
.repassword_wrapper .repassword_content .repassword_content_valid .repassword_content_valid_icon{background:url("../images/suo.png") no-repeat center #fff;background-size:70%;}
/* 输入框 */
.repassword_wrapper .repassword_content p .repassword_content_phone_input{-webkit-box-flex:1;height:20px;display:block;padding:10px;border:none;}
.repassword_wrapper .repassword_content p .repassword_content_password_input{-webkit-box-flex:1;height:20px;display:block;padding:10px;border:none;}
.repassword_wrapper .repassword_content p .repassword_content_valid_input{-webkit-box-flex:1;height:20px;display:block;padding:10px;border:none;}
/* 发送验证码、密码可见 */
.repassword_wrapper .repassword_content p .repassword_content_valid_btn{width:100px;line-height:40px;display:block;color:#38d163;background:#fff;text-align:center;font-size: 14px;}
.repassword_wrapper .repassword_content p .sent{width:100px;line-height:40px;display:none;color:#38d163;text-align:center;background:#fff;font-size: 13px;}
.repassword_wrapper .repassword_content p .repassword_content_password_see{width:50px;display:block;background:url("../images/eye.png") no-repeat center #fff;background-size:40%;}
.repassword_wrapper .repassword_content p .nosee{background:url("../images/eyes.png") no-repeat center #fff;background-size:40%;}
/* 确定按钮 */
.repassword_wrapper .repassword_btn_wrap{display:-webkit-box;}
.repassword_wrapper .repassword_btn_wrap .repassword_btn{border-radius:5px;margin:0 12px 15px;display:block;height:40px;line-height:40px;font-size:16px;-webkit-box-flex:1;background:#38d163;color:#fff;text-align:center;}
/*------- 登录页面 结束 -------*/


