<!DOCTYPE html>
<html>
<head>
	<include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/depotSearch.css" />
</head>
<body>
	<!-- 头部 开始 -->
    <include file="Common/header_se"/>
    <!-- 头部 结束 -->
    <section>
    	<form>
    		<div class="address">
                <span class="start_text">请选择地址</span>
                <input id='start_address' class="op0" type="text" name="start_address" />
    		</div>
    		<div class="search_type">
    			<div class="type_item">
    				<label class="type">面积</label>
    				<div class="type_choose">
    					<span class="active">全部</span>
    					<span>100-200㎡</span>
    					<span>200-300㎡</span>
    				</div>
    			</div>
    			<div class="type_item">
    				<label class="type">种类</label>
    				<div class="type_choose">
    					<span class="active">全部</span>
    					<span>2T-3T</span>
    					<span>4T-5T</span>
    				</div>
    			</div>
    			<div class="type_item">
    				<label class="type">价格</label>
    				<div class="type_choose">
    					<span class="active">全部</span>
    					<span>1-2万</span>
    					<span>2-3万</span>
    					<span>3-4万</span>
    					<span>4-5万</span>
                        <span>5-6万</span>
    					<span>6-7万</span>
    				</div>
    			</div>
    		</div>
            <div class="btn_group">
                <a href="javascript:;" class="weui-btn weui-btn_primary">查询</a>
            </div>
    	</form>
        <!-- <div class="history_search">
            <div class="history_search_info">
                <p>历史查询</p>
            </div>
            <ul class="history_search_list">
                <li>杭州 - 上海</li>
                <li>杭州九堡 - 江苏南通</li>
            </ul>
        </div> -->
    </section>
</body>
<script type="text/javascript" src="__JS__/city-picker.min.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/jquery-weui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/depotSearch.js" charset="utf-8"></script>
</html>