<!doctype html>
<html>
<head>
    <include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/carousel.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/goods.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/share.css" />
</head>
<body>
    <!-- 返回图标 开始 -->
    <a class="back_btn" href="javascript:history.go(-1);"></a>
    <!-- 返回图标 结束 -->
    <!-- 分享图标 开始 -->
    <a class="share_btn  -mob-share-open" href="javascript:void(0);"></a>
    <!-- 分享图标 结束 -->
    <section class="goods_detail_wrapper no_header">
        <!-- 轮播 开始 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
               <foreach name="pic_list" item="val">
                    <div class="swiper-slide"><a href="javascript:void(0);"><img src="{$val['pic_url']}" width="100%" height="auto" /></a></div>
                </foreach>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- 轮播 结束 -->
        <!-- 产品信息 开始 -->
        <div class="goods_info">
            <h4 class="goods_name">{$product_info['title']}</h4>
            <p class="goods_info_sketch">{$product_info['short_title']}</p>
            <p class="goods_info_sale">￥{$product_info['price']|number_format=2}</p>
            <!-- <p class="goods_info_pn">
                <span class="goods_info_pn_origin">￥119</span>
                <span class="goods_info_pn_fee">运费:6元起</span>
                <span class="goods_info_pn_number">销量140</span>
            </p> -->
        </div>
        <!-- 产品信息 结束 -->
        <!-- 公司 开始 -->
        <a class="goods_company" href="?g=app&m=company&a=detail&id={$product_info['company_id']}">
            <img class="goods_company_icon delay" src="__IMG__/pixel.gif" data-echo="{$product_info['company_logo']}" width="40" height="40" />
            <span class="goods_company_name">{$product_info['company_name']|default=''}</span>
            <span class="goods_company_link"><div class="gt"><div></div></div></span>
        </a>
        <!-- 公司 结束 -->
        <!-- 产品详细说明 开始 -->
        <div class="goods_particular">
            <h5>商品详情</h5>
            <div class="goods_particular_content">
               {$product_info['summary']}
            </div>
        </div>
        <!-- 产品详细说明 结束 -->
        <!-- 评论 开始 -->
        <div class="goods_comment">
            <h5>评价</h5>
            <notempty name="list">
		<volist name="list" id="li">
	    <div class="goods_comment_list">
	        <div class="goods_comment_list_info">
	        	<!-- 评论用户名 -->
	            <span class="goods_comment_list_idnum">{$li.uname}</span>
	            <!-- 评论时间 -->
	            <span class="goods_comment_list_time">{$li.addtime|date="Y-m-d H:i",###}</span>
	            <div class="clear"></div>
	        </div>
	        <!-- 评论内容 -->
	        <p class="goods_comment_list_con">{$li.content}</p>
	        <!-- 追评内容 -->
	        <notempty name="li.reply" >
	        <volist name="li.reply" id="re"> 
    		<p class="goods_comment_list_con additional">{$re.addtime|date="Y-m-d H:i",###}
    		<if condition="$re.uid neq ''">追加：<else />回复：</if> 
    		{$re.content}</p>
    		</volist>
	    	</notempty>
	    </div>
	    </volist>
	    </notempty>
	    <empty name="list">
	    <!-- 暂无评论 -->
	    <div class="goods_comment_list">
	        <p class="goods_comment_list_con">暂无评价</p>
	    </div>
	    </empty>
        </div>
        <!-- 评论 结束 -->
    </section>
    <!-- 产品操作 开始 -->
    <footer class="goods_opt">	
		<a class="leave_word_wrap lc" href="?g=app&m=product&a=comment&id={$product_info.id}">
			<div class="leave_word">
				<img src="__IMG__/info.png" width='20' height="20" />
			</div>
			<div class="leave_word_text fc">评价</div>
		</a>	
		<a class="collect_wrap lc" href="javascript:void(0)">
			<input id="nid" value="{$product_info.id}" type="hidden">
			<input id="uid" value="{$_SESSION.app.user_auth.user_id}" type="hidden">
			<input id="sign" value="{$sign}" type="hidden">
			<div class="collect">
				<img src="__IMG__/star.png" width='20' height="20" />
			</div>
			<div class="collect_text fc">收藏</div>
		</a>
    </footer>
    <!-- 产品操作 结束 -->
    <!-- 遮罩层 开始 -->
    <!-- <div class="mask no"></div> -->
    <!-- 遮罩层 结束 -->
    <!-- 分享弹框 开始 -->
    <!-- <div class="share_bomb_box no"> -->
        <div class="-mob-share-ui" style="display: none">
		    <ul class="-mob-share-list">
		        <li class="-mob-share-weibo"><p>新浪微博</p></li>
		        <li class="-mob-share-tencentweibo"><p>腾讯微博</p></li>
		        <li class="-mob-share-qzone"><p>QQ空间</p></li>
		        <li class="-mob-share-qq"><p>QQ好友</p></li>
		       
		        <li class="-mob-share-douban"><p>豆瓣</p></li>
		        
		    </ul>
		<div class="-mob-share-close">取消</div>
		</div>
   <!--  </div> -->
    <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=a537fde044f0"></script>
    <!-- 分享弹框 结束 -->
	<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/carousel.js"></script>
	<script type="text/javascript" src="__STATIC__/js/layer.js"></script>
	<script type="text/javascript" src="__STATIC__/js/delay.js"></script>
	<script type="text/javascript" src="__STATIC__/js/base.js"></script>
	<script type="text/javascript" src="__JS__/goods_detail.js"></script>
    </body>
</html>