<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/product_index.css"/>
</head>
<body>
<!-- 资讯标题、发布人、发布时间 -->
<include file="Common/header_more"/>
<div class="detail_top">
    <h3>{$list['title']}</h3>
    <div class="top_info">
        <span class="info_name">发布人{list['source']}</span>
        <span class="info_time">发布时间{$list['addtiem']|date="Y-m-d",###}</span>
    </div>
</div>
<!-- 发布内容 -->
<article>{$list['content']}</article>
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__JS__/news_detail.js"></script>
</body>
</html>