<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/companyListArea.css"/>
</head>
<body>
    <include file="Common/header_more"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 头部导航开始 -->
        <div class="weui-navbar">
            <div class="weui-navbar__item">
                物<span>流分</span>类
            </div>
            <div class="weui-navbar__item active">
                地<span>区分</span>类
            </div>
        </div>
        <!-- 头部导航结束 -->
        <!-- 中间地区选择 -->
        <div class="area">
            <div class="left_area">
                <ul>
                    <li class="active">北京</li>
                    <li>北京</li>
                </ul>
            </div>
            <div class="right_area">
                <div class="weui-flex">
                    <div class="weui-flex__item"><a href="javascript:void(0);">北京</a></div>
                    <div class="weui-flex__item"><a href="javascript:void(0);">北京北京</a></div>
                    <div class="weui-flex__item"><a href="javascript:void(0);">北京北京</a></div>
                </div>
            </div>
        </div>
        <!-- 中间地区选择 -->
        <!-- 底部 开始 -->
        <include file="Common/footer"/>
        <!-- 底部 结束 -->
    </section>
    <script type="text/javascript" src="__STATIC__/js/carousel.js"></script>
    <script type="text/javascript" src="__JS__/companyListArea.js"></script>
</body>
</html>