<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/depotDetail.css"/>
</head>
<body>
    <include file="Common/header_more"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 头部区域 -->
        <div class="weui-flex area">
            <div class="weui-flex__item">浙江省杭州市江干区丰富的奋斗地方</div>
        </div>
        <div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd">
                                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487821101335&di=758aead12f07295fe2152f3bd27f68c6&imgtype=0&src=http%3A%2F%2Ff.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fadaf2edda3cc7cd960628dc03901213fb80e9158.jpg" alt="">
                            </div>
                            <div class="weui-cell__bd weui-cell_primary">
                                <span>魏先生</span>
                                <img src="__IMG__/dh.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 头部区域 -->
        <!-- 详细信息区域 -->
        <div class="detail">
            <div class="detail_title">详细信息</div>
            <div class="weui-tab">
                <div class="weui-navbar">
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            仓储类型
                        </div>
                        <p class="weui-tabbar__label">标准库</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            主体结构
                        </div>
                        <p class="weui-tabbar__label">钢混结构</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            舱内运营
                        </div>
                        <p class="weui-tabbar__label">代运营</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            库内地面
                        </div>
                        <p class="weui-tabbar__label">精钢砂</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            可做分仓
                        </div>
                        <p class="weui-tabbar__label">可以</p>
                    </a>
                </div>
            </div>
            <div class="desc_list">
                <div class="desc_item">
                    <span class="desc_title">价格:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">舱内高度:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">总面积:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">可租面积:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">更新时间:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">截止时间:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">仓库说明:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">货物图片:</span>
                </div>
                <div class="swiper_company">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active">
                                <a href="?g=app&amp;m=company&amp;a=detail&amp;id=243">
                                    <div class="img_wrap">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487838518744&di=4253028f101fb87b67caa36df630d443&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2Fimg013%2Fv5%2F2%2Fd%2F41.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <a href="?g=app&amp;m=company&amp;a=detail&amp;id=253">
                                    <div class="img_wrap">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487838518744&di=4253028f101fb87b67caa36df630d443&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2Fimg013%2Fv5%2F2%2Fd%2F41.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <a href="?g=app&amp;m=company&amp;a=detail&amp;id=253">
                                    <div class="img_wrap">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487838518744&di=4253028f101fb87b67caa36df630d443&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2Fimg013%2Fv5%2F2%2Fd%2F41.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <a href="?g=app&amp;m=company&amp;a=detail&amp;id=253">
                                    <div class="img_wrap">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487838518744&di=4253028f101fb87b67caa36df630d443&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2Fimg013%2Fv5%2F2%2Fd%2F41.jpg">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <script type="text/javascript" src="__STATIC__/js/carousel.js"></script>
    <script type="text/javascript" src="__JS__/depotDetail.js"></script>
</body>
</html>