<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/goodsList.css"/>
</head>
<body>
    <include file="Common/header"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 列表页 -->
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487755060639&di=d98a0789aa9467f900a1364a63624a18&imgtype=0&src=http%3A%2F%2Ff.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fadaf2edda3cc7cd960628dc03901213fb80e9158.jpg">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">浙江金华--江苏淮安</h4>
                        <p class="weui-media-box__desc">找一四姐</p>
                    </div>
                    <div class="tele">
                        <img src="__IMG__/dh.png">
                        <span>联系TA</span>
                    </div>
                </div>
            </div>
            <div class="weui-panel__bd">
                <a href="javascript:void(0);">
                    <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <p class="weui-media-box__desc">仓储信息：100.00平方米</p>
                            <p class="weui-media-box__desc">仓储类型：标准库</p>
                        </div>
                        <div class="weui-cell__ft">
                            <div class="tl"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487755060639&di=d98a0789aa9467f900a1364a63624a18&imgtype=0&src=http%3A%2F%2Ff.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fadaf2edda3cc7cd960628dc03901213fb80e9158.jpg">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">浙江金华--江苏淮安</h4>
                        <p class="weui-media-box__desc">找一四姐</p>
                    </div>
                    <div class="tele">
                        <img src="__IMG__/dh.png">
                        <span>联系TA</span>
                    </div>
                </div>
            </div>
            <div class="weui-panel__bd">
                <a href="javascript:void(0);">
                    <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <p class="weui-media-box__desc">货物信息：农贸 轻货</p>
                            <p class="weui-media-box__desc">运输方式：零担配货</p>
                        </div>
                        <div class="weui-cell__ft">
                            <div class="tl"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>