<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/pointList.css"/>
</head>
<body>
    <include file="Common/header_more"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 头部导航 -->
        <div class="weui-tab">
            <div class="weui-navbar">
                <a href="javascript:;" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="__IMG__/gsxq_nomal.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">公司详情</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="__IMG__/wd_nomal.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">全部网点</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="__IMG__/lxwd_nomal.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">联系网点</p>
                </a>
            </div>
        </div>
        <!-- 头部导航结束 -->
        <!-- 列表页 -->
        <div class="weui-panel weui-panel_access">
            <h2 class="weui-panel__hd">德邦物流</h2>
            <div class="weui-panel__bd">
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">联系人：<span>赵师傅</span></p>
                        <p class="weui-media-box__desc">
                            <span class="phone">电话：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                            <span class="phone">手机：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                        </p>
                        <p class="weui-media-box__desc">浙江省杭州市江干区，九和路</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <h2 class="weui-panel__hd">德邦物流</h2>
            <div class="weui-panel__bd">
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">联系人：<span>赵师傅</span></p>
                        <p class="weui-media-box__desc">
                            <span class="phone">电话：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                            <span class="phone">手机：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                        </p>
                        <p class="weui-media-box__desc">浙江省杭州市江干区，九和路</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <h2 class="weui-panel__hd">德邦物流</h2>
            <div class="weui-panel__bd">
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">联系人：<span>赵师傅</span></p>
                        <p class="weui-media-box__desc">
                            <span class="phone">电话：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                            <span class="phone">手机：<a href="javascript:void(0)"><img src="__IMG__/dh.png"></a></span>
                        </p>
                        <p class="weui-media-box__desc">浙江省杭州市江干区，九和路</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>