<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/truckDetail.css"/>
</head>
<body>
    <include file="Common/header_more"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 头部区域 -->
        <div class="weui-flex area">
            <div class="weui-flex__item">浙江金华</div>
            <div><img src="__IMG__/side_to.png"></div>
            <div class="weui-flex__item">江苏淮安</div>
        </div>
        <div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd">
                                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487821101335&di=758aead12f07295fe2152f3bd27f68c6&imgtype=0&src=http%3A%2F%2Ff.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fadaf2edda3cc7cd960628dc03901213fb80e9158.jpg" alt="">
                            </div>
                            <div class="weui-cell__bd weui-cell_primary">
                                <span>魏先生</span>
                                <img src="__IMG__/dh.png">
                                <span class="desc">查看该车主其他路线</span>
                            </div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 头部区域 -->
        <!-- 详细信息区域 -->
        <div class="detail">
            <div class="detail_title">详细信息</div>
            <div class="weui-tab">
                <div class="weui-navbar">
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            车辆类型
                        </div>
                        <p class="weui-tabbar__label">返程</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            车辆数量
                        </div>
                        <p class="weui-tabbar__label">1辆</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            车辆长度
                        </div>
                        <p class="weui-tabbar__label">13.0m</p>
                    </a>
                    <a href="javascript:;" class="weui-tabbar__item">
                        <div class="weui-tabbar__icon">
                            车辆类型
                        </div>
                        <p class="weui-tabbar__label">高栏车</p>
                    </a>
                </div>
            </div>
            <div class="desc_list">
                <div class="desc_item">
                    <span class="desc_title">可载轻货:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">可载重货:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">发车时间:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">途径地区:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">有效时间:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">车牌号码:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">更新时间:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
                <div class="desc_item">
                    <span class="desc_title">备注:</span>
                    <span class="desc_detail">车主未填写此信息</span> 
                </div>
            </div>
        </div>
    </section>
</body>
</html>