<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/product.css"/>
<script type="text/javascript" src="__JS__/product.js"></script>
</head>
<body>
<!-- 顶部 开始 -->
<include file="Common/top"/>
<!-- 顶部 结束 -->
<!-- 左侧 开始 -->
<include file="Common/left"/>
<!-- 左侧 结束 -->
<!-- 主体 开始 -->
<div class="main">
    <!-- 主体头部 -->
    <include file="Common/header"/>
    <!-- 主体内容 -->
    <div class="wrapper">
        <!-- 导航 -->
        <include file="Company/companyNav"/>
        <!-- 新增按钮 -->
        <a class="add" href="?g=member&m=company">新 增</a>
        <!-- 产品数据 开始 -->
        <table class="data">
            <!-- 标题 开始 -->
            <tr class="data_title">
                <td class="ti25">ID</td>
                <td>店名</td>
                <td>联系人</td>
                <td>电话号码</td>
                <td>手机号码</td>
                <td>网点地址</td>
                <td>操作</td>
            </tr>
            <!-- 标题 结束 -->
            <volist name="list" id="li">
                <!-- 一条数据 开始 -->
                <tr>
                    <td class="ti25">{$li.p_id}</td>
                    <td>{$li.p_title}</td>
                    <td>{$li.p_name}</td>
                    <td>{$li.p_phone}</td>
                    <td>{$li.p_mobile}</td>
                    <td>{$li.address}</td>
                    <td class="data_opt" align="center">
                        <a href="?g=member&m=company&a=index&id={$li.p_id}">修改</a>
                        <a class="confirm ajax-get" href="index.php?g=member&m=company&a=pointDel&id={$li.p_id}">删除</a>
                    </td>
                </tr>
                <!-- 一条数据 结束 -->
            </volist>
        </table>
        <!-- 产品数据 开始 -->
        <!-- 分页 -->
        <div class="page">{$_page}</div>
    </div>
    <!-- 主体 结束 -->
</div>
</body>
</html>