<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/logistics.css" />
<script type="text/javascript" src="__JS__/logistics.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 导航 -->
			<div class="nav">
				<a href="?g=member&m=buy&a=detail&id={$order.orderid}">订单详情</a>
				<!--<a class="hover" href="?g=member&m=buy&a=logistics&id={$order.orderid}">物流跟踪</a>-->
			</div>
			<!-- 收货地址 -->
			<div class="row">
				<span>运单编号：</span>
				<span>{$order.express_no}</span>
			</div>
			<!-- 当前状态 -->
			<div class="row">
				<span>快递名称：</span>
				<span>{$express_name}</span>
			</div>
			<!-- 订单编号 -->
			<div class="row">

                <span><switch name="exress_info.state">
		                	<case value="0">在途</case>
							<case value="1">揽件</case>
							<case value="2">疑难</case>
							<case value="3">签收</case>
							<case value="4">退签</case>
							<case value="5">派件</case>
							<case value="6">退回</case>
							<default />
                	  </switch>
                </span>
			</div>
			<!-- 物流详情 开始 -->
			<!--<div class="row_title">-->
				<!--<span>物流跟踪</span>-->
			<!--</div>-->
			<volist name="exress_info.data" id="da">
			<div class="row">
				<span>{$da.time}</span>
				<span>{$da.context}</span>
			</div>
			</volist>
			<!-- 物流详情 结束 -->
			<!-- 关闭按钮 -->
			<div class="tac">
				<a class="base_back" href="?g=member&m=buy">关 闭</a>
			</div>
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>