<!doctype html>
<html>
<head>
	<include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/more.css" />
</head>
<body class="more_copyright_body">
	<!-- 头部 -->
	<include file="Common/header"/>
	<!-- 无底部区域 -->
	<section class="more_copyright_wrapper <neq name='appsign' value='1'>no_footer</neq>">
        <div class="more_copyright_content">
            <p class="copyright">关于我们:</p>
            <p class="copyright_content">{$info['content']}</p>
        </div>
	</section>
</body>
</html>