<!doctype html>
<html>
<head>
    <include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/more.css" />
</head>
<body>
	<!-- 头部 -->
	<include file="Common/header"/>
	<!-- 无底部区域 -->
	<section <neq name="appsign" value="1">class="no_footer"</neq>>
        <div class="more_copyright_content">
            <p class="copyright_content">
            	在PC端上打开浏览器输入网址：http://{$url}进入后台，点击【我是卖家】后选择【企业资料】进行资料填写，填写完毕后方可添加商品。
            	<img src="__IMG__/merchant.png" width="100%" />
            </p>
        </div>
	</section>
</body>
</html>