<!doctype html>
<html>
<head>
	<include file="Common/head"/>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<div class="wrapper">
			<!-- 主体头部 -->
			<div class="header">
				<h2>权限管理中心</h2>
			</div>
			<h3>添加权限</h3>
			<form class="form-horizontal chkform" name="" action="" method="post" >
				<input  type="hidden" name="gid" value="{$detail.gid}"/>
				<table class="add_table">
					<tr>
						<td class="w120">权限名称：</td>
						<td>
							<input class="i400" type="text" name="title" value="" datatype="title" nullmsg="请填写权限名称（2-50个字符）" errormsg="请正确填写权限名称（2-50个字符）"/>
						</td>
						<!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写权限名称</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
					</tr>
					<tr>
						<td class="w120">权限链接：</td>
						<td>
							<input class="i400" type="text" name="rule_name" value="" datatype="*" nullmsg="请填写权限链接" errormsg="请正确填写权限链接"/>
							
						</td>
						<!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写权限名称</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
					</tr>
					<!-- 提交按钮 -->
					<tr class="add_opt">
						<td></td>
						<td>
							<input class="opt_btn ajax-post mgl0 chksubmit" target-form="form-horizontal" type="submit" value="确定提交">
							<input class="opt_btn" type="reset" value="重置表单">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- 主体 结束 -->
</body>
</html>
