    <a <eq name="corenav" value="core">class="hover"</eq> href="?g=admin&m=index&a=core">基本信息</a>
    <a <eq name="corenav" value="core_company">class="hover"</eq> href="?g=admin&m=index&a=core_company">企业信息</a>
    <a <eq name="corenav" value="core_linkman">class="hover"</eq> href="?g=admin&m=index&a=core_linkman">联系人信息</a>
    <a <eq name="corenav" value="core_alipay">class="hover"</eq> href="?g=admin&m=index&a=core_alipay">支付宝账号设置</a>
    <a <eq name="corenav" value="core_weixin">class="hover"</eq> href="?g=admin&m=index&a=core_weixin">微信账号设置</a>