<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/order.css" />
    <script type="text/javascript" src="__STATIC__/layer/laydate.js"></script>
    <script type="text/javascript" src="__JS__/order.js"></script>
</head>
<body>
    <!-- 顶部 开始 -->
    <include file="Common/top"/>
    <!-- 顶部 结束 -->
    <!-- 左侧 开始 -->
    <include file="Common/left"/>
    <!-- 左侧 结束 -->
    <!-- 主体 开始 -->
    <div class="main">
        <div class="wrapper">
            <!-- 主体头部 -->
            <div class="header">
                <h2>订单管理</h2>
                <a <eq name="state" value="">class="hover"</eq> href="?g=admin&m=order">所有订单</a>
                <foreach name="statusList" item="vo">
                    <a <eq name="state" value="$key+1">class="hover"</eq> href="?g=admin&m=order&state={$key+1}">{$vo}</a>
                </foreach>
            </div>
            <!-- 主体搜索 -->
            <div class="search">
                <form class="form-horizontal" name="" action="?g=admin&m=order" method="post">
                    <p>订单号：</p>
                    <input class="search_input" type="text" name="orderid" value="{$orderid}"/>
                    <p>下单时间：</p>
                    <input id ="time_start" class="laydate-icon search_input" type="text" name="time_start" value="{$time_start}"/>
                    <span>-</span>
                    <input id ="time_end" class="laydate-icon search_input" type="text" name="time_end" value="{$time_end}"/>
                    <p>所属商家搜索：</p>
                    <input class="search_input" type="text" name="sellername" value="{$sellername}"/>
                    <input class="search_btn" type="submit" value="检索" />
                </form>
            </div>
            <!-- 主体数据 -->
            <div class="order_wrap">
                <!-- 订单头部 -->
                <div class="order_header">
                    <p class="order_header_name">收货人姓名</p>
                    <p class="order_header_phone">手机号</p>
                    <p class="order_header_address">地址</p>
                    <p class="order_header_totalprice">总价（元）</p>
                    <p class="order_header_status">状态</p>
                    <p class="order_header_opt">交易操作</p>
                    <div class="clear"></div>
                </div>
                <!-- 订单列表 -->
                <volist name="list" id="li">
                    <div class="order_list">
                        <!-- 订单编号、下单时间 -->
                        <div class="order_list_top">
                            <strong>订单号：</strong>
                            <span class="order_code">{$li.id}</span>
                            <strong>下单时间：</strong>
                            <span class="order_time">{$li.ctime|date="Y-m-d H:i:s",###}</span>
                            <strong>所属商家：</strong>
                            <span class="order_code">{$li.company_name}</span>
                        </div>
                        <!-- 订单信息 -->
                        <div class="order_list_info">
                            <p class="order_name">{$li.address_name}</p>
                            <p class="order_phone">{$li.address_mobile}</p>
                            <p class="order_address">{$li.address_detail}</p>
                            <p class="order_totalprice">
                                <span class="totalprice">￥{$li.pay_price}</span>
                                <span>(含快递：￥{$li.freight_price})</span>
                            </p>
                            <p class="order_status">
                                {$statusList[$li['state']]}
                            </p>
                            <p class="order_opt">
                                <a class="order_detail_btn" href="?g=admin&m=order&a=detail&id={$li.id}">订单详情</a>
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                </volist>
                <!-- 订单底部 -->
                <div class="order_footer"></div>
            </div>
            <!-- 分页 -->
            <div class="page">{$_page}</div>
        </div>
    </div>
    <!-- 主体 结束 -->
</body>
</html>
