    <include file="Common/head"/>
</head>
<body>
    <!-- 顶部 开始 -->
    <include file="Common/top"/>
    <!-- 顶部 结束 -->
    <!-- 左侧 开始 -->
    <include file="Common/left"/>
    <!-- 左侧 结束 -->
    <!-- 主体 开始 -->
    <div class="main">
        <!-- 主体头部 -->
        <include file="Common/header"/>
        <!-- 主体内容 -->
        <div class="wrapper">
            <!-- 产品数据 开始 -->
            <table class="data">
                <!-- 标题 开始 -->
                <tr class="data_title">
                    <td class="ti25">ID</td>
                    <td>标题</td>
                    <td align="center">图片</td>
                    <td align="center">发布时间</td>
                    <td align="center">操作</td>
                </tr>
                <!-- 标题 结束 -->
                <volist name="content" id="li">
                    <!-- 一条数据 开始 -->
                    <tr>
                        <td class="ti25">{$li.id}</td>
                        <td>{$li.title}</td>
                        <td align="center"><img src="{$li.img}" width="80" height="80" /></td>
                        <td align="center">{$li.addtime|date="Y-m-d H:i",###}</td>
                        <td class="data_opt" align="center">
                            <a class="confirm ajax-get" href="?g=member&m=collect&a=del&classify=2&id={$li.id}">删除</a>
                        </td>
                    </tr>
                    <!-- 一条数据 结束 -->
                </volist>
            </table>
            <!-- 产品数据 开始 -->
            <!-- 分页 -->
            <div class="page"></div>
        </div>
        <!-- 主体 结束 -->
    </div>
</body>
</html>