<div class="header">
	<eq name="site" value="buy">
		<a class="<eq name='header' value='index'>hover</eq>" href="?g=member&m=buy">订单管理</a>
		<a class="<eq name='header' value='comment'>hover</eq>" href="?g=member&m=buy&a=comment">评价管理</a>
		<a class="<eq name='header' value='address'>hover</eq>" href="?g=member&m=buy&a=address">收货地址管理</a>
	</eq>
	<eq name="site" value="sale">
		<a class="<eq name='header' value='index'>hover</eq>" href="?g=member&m=sale">商铺管理</a>
		<a class="<eq name='header' value='company'>hover</eq>" href="?g=member&m=sale&a=company">企业资料</a>
	</eq>
	<eq name="site" value="msg">
		<a class="<eq name='header' value='index'>hover</eq>" href="?g=member&m=msg">系统消息</a>
		<!-- <a class="<eq name='header' value='customer'>hover</eq>" href="?g=member&m=msg&a=customer">客户询盘</a> -->
	</eq>
	<eq name="site" value="collect">
		<a class="<eq name='header' value='index'>hover</eq>" href="?g=member&m=collect">资讯收藏</a>
		<a class="<eq name='header' value='product'>hover</eq>" href="?g=member&m=collect&a=product">产品收藏</a>
		<a class="<eq name='header' value='company'>hover</eq>" href="?g=member&m=collect&a=company">企业收藏</a>
	</eq>
	<eq name="site" value="setting">
		<a class="<eq name='header' value='index'>hover</eq>" href="?g=member&m=setting">个人资料</a>
		<a class="<eq name='header' value='resetpwd'>hover</eq>" href="?g=member&m=setting&a=resetpwd">修改密码</a>
	</eq>
</div>