<div class="left">
	<div class="left_wrap">
		<a class="left_home <eq name='site' value='home'>hover</eq>" href="?g=member&m=index"></a>
		<!-- <a class="left_buy <eq name='site' value='buy'>hover</eq>" href="?g=member&m=buy"></a> -->
		<a class="left_sale <eq name='site' value='sale'>hover</eq>" href="?g=member&m=sale"></a>
		<a class="left_msg <eq name='site' value='msg'>hover</eq>" href="?g=member&m=msg"></a>
		<a class="left_collect <eq name='site' value='collect'>hover</eq>" href="?g=member&m=collect"></a>
		<a class="left_setting <eq name='site' value='setting'>hover</eq>" href="?g=member&m=setting"></a>
	</div>
</div>