<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/info.css" />
<link rel="stylesheet" type="text/css" href="./Public/static/kindeditor/themes/default/default.css" />
<script type="text/javascript" src="./Public/static/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="./Public/static/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/layer/laydate.js"></script>
<script type="text/javascript" src="__JS__/info.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<h2 class="add_title">修改个人资料</h2>
			<!-- 修改个人资料表单 开始 -->
			<form class="chkform form-horizontal" name="" action="" method="post">
				<div class="add_form">
					<!-- 姓名 -->
					<div class="add_row">
						<div>
							<div class="add_name">姓名：</div>
							<input class="t400" type="text" name="name" value="{$info['name']|default=''}" placeholder="请输入姓名" datatype="title" nullmsg="请输入姓名" errormsg="姓名长度应为2-50位" />
							<span class="add_star">*</span>
						</div>
						<!-- 表单验证提示信息 -->
						<div>
						    <div class="info">
						        <span class="Validform_checktip">请输入姓名</span>
						        <span class="dec">
						            <s class="dec1">&#9670;</s>
						            <s class="dec2">&#9670;</s>
						        </span>
						    </div>
						</div>
					</div>
					<!-- 手机号 -->
					<div class="add_row">
						<div class="add_name">手机号：</div>
						<input class="t400" type="text" readonly="readonly" value="{$info['mphone']|default=''}" placeholder="请输入手机号" />
					</div>
					<!--邀请码-->
					<eq name="distribution_flag" value="1">
						<div class="add_row">
							<div class="add_name">邀请码：</div>
							<input class="t400" type="text" readonly="readonly" value="{$info['invite_code']|default=''}" />
						</div>
					</eq>
					<!-- 头像 -->
					<div class="add_row">
						<div class="add_name">头像：</div>
						<a id="portrait_upload" class="add_upload" href="javascript:void(0);">上传图片</a>
						<input id="portrait_url" type="hidden" name="head_pic" value="{$info['head_pic']|default=''}" />
						<span class="add_star">*</span>
						<span class="add_desc">建议尺寸：320*320</span>
					</div>					
					<!-- 头像预览 -->
					<div class="add_row">
						<div class="add_name vat">头像预览：</div>
						<img id="portrait_preview" src="{$info['head_pic']|default='__IMG__/default_img.png'}" width="80" height="80" />
					</div>
					<!-- 提交信息按钮 -->
					<div class="add_row">
						<div class="add_name"></div>
						<input type="hidden" name="uid" value="{$info['uid']|default=''}">
						<input class="form_btn chksubmit ajax-post" type="submit" target-form="form-horizontal" value="提交信息" />
					</div>
				</div>
			</form>
			<!-- 修改个人资料表单 开始 -->
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>