	<neq name="appsign" value="1">
	<footer>
		<a href="?g=app&m=index"><i class="home <eq name="site" value="index">hover</eq>"></i></a>
		<a href="?g=app&m=news"><i class="news <eq name="site" value="news">hover</eq>"></i></a>
		<a href="?g=app&m=product"><i class="product <eq name="site" value="product">hover</eq>"></i></a>
		<a href="?g=app&m=company"><i class="company <eq name="site" value="company">hover</eq>"></i></a>
		<a href="?g=app&m=member"><i class="member <eq name="site" value="member">hover</eq>"></i></a>
	</footer>
	</neq>