<neq name="appsign" value="1">
    <header style="position: relative;">
        <a class="header_left" href="javascript:history.go(-1);">
            <div class="lt"><div></div></div>
        </a>
        <p class="header_title mgr50">物流搜索<span class="vt"></span></p>
        <ul class="search_list">
        	<li><a href="##">货车搜索</a></li>
        	<li><a href="##">货物搜索</a></li>
        	<li><a href="##">仓储搜索</a></li>
        	<li><a href="##">资讯搜索</a></li>
        	<li><a href="##">企业搜索</a></li>
        </ul>
    </header>
</neq>
