<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/list_source.css"/>
</head>
<body>
<include file="Common/header_editor"/>
<!-- 可视区域 开始 -->
<section class="viewport">
    <!-- 列表 -->
    <notempty name="list">
        <div class="list_wrap">
            <volist name="list" id="vo">
                <a href="?g=app&m=member&a=publishGoods&id={$vo.id}">
                    <div class="mgt10 weui-form-preview">
                        <div class="weui-form-preview__hd">
                            <em class="weui-form-preview__value">{$vo.location}</em>
                        </div>
                        <div class="weui-form-preview__bd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">货物名称：</label>
                                <span class="weui-form-preview__value">{$vo.name}</span>
                            </div>

                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">货物信息：</label>
                                <span class="weui-form-preview__value">{$vo.category_id}</span>
                            </div>
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">运输方式:</label>
                                <span class="weui-form-preview__value">{$vo.transport_id}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </volist>
        </div>

        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <else/>
        <!-- 为空 -->
        <div class="weui-loadmore weui-loadmore_line">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
    </notempty>
</section>
<!-- 可视区域 结束 -->
<!-- 底部 开始 -->
<a class="editor_footer" href="?g=app&m=member&a=publishGoods">新增货源</a>
<!-- 底部 结束 -->
<script type="text/javascript">
    var city_name = "{$city_name}";
    var defaultImg = '__STATIC__/images/default_icon.jpg';
    var imgUrl = '__IMG__';
</script>
<!-- 地址选择器 -->
<script type="text/javascript" src="__JS__/city-picker.min.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/list_source.js"></script>
</body>
</html>
