<!doctype html>
<html>
<head>
    <include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/info.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/check/check.css" />
</head>
<body>
	<!-- 头部 开始 -->
	<include file="Common/header_editor"/>
	<!-- 头部 结束 -->
	<section class="no_footer">
		<form class="chkform" action="?g=app&m=member&a=info" method="post">
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">头像：</div>
					<div class="weui-cell__ft"><img src="__IMG__/yqhy@2x.png" width="30" height="30"/></div>
				</div>
				<a class="weui-cell" >
					<div class="weui-cell__bd">姓名：</div>
					<div class="weui-cell__ft">{$user_info['name']|default=''}</div>
				</a>
				<a class="weui-cell" >
					<div class="weui-cell__bd">昵称：</div>
					<div class="weui-cell__ft">{$user_info['nickname']|default=''}</div>
				</a>
				<a class="weui-cell" >
					<div class="weui-cell__bd">邮箱：</div>
					<div class="weui-cell__ft">{$user_info['email']|default=''}</div>
				</a>
				<a class="weui-cell" >
					<div class="weui-cell__bd">QQ：</div>
					<div class="weui-cell__ft">{$user_info['qq']|default=''}</div>
				</a>
				<a class="weui-cell sex" href="javascript:;">
					<div class="weui-cell__bd">性别：</div>
					<div class="weui-cell__ft">{user_info['sex']}</div>
				</a>
			</div>
			<a href="?g=app&m=login&a=logout" class="weui-btn weui-btn_plain-default exit">退出当前账户</a>
			
			<!-- 姓名 -->
			<!--<div class="row">
				<div class="title">姓名：</div>
				<div class="content">
					<input type="text" name="name" value="{$user_info['name']|default=''}" datatype="title" nullmsg="请填写姓名" errormsg="请正确填写姓名" />
				</div>-->
				<!-- 表单验证提示信息 -->
				<!--<div>
				    <div class="info">
				        <span class="Validform_checktip">请填写姓名</span>
				        <span class="dec">
				            <s class="dec1">&#9670;</s>
				            <s class="dec2">&#9670;</s>
				        </span>
				    </div>
				</div>
			</div>-->
			<!-- 昵称 -->
			<!--<div class="row">
				<div class="title">昵称：</div>
				<div class="content">
					<input type="text" name="nickname" value="{$user_info['nickname']|default=''}" datatype="title" nullmsg="请填写昵称" errormsg="请正确填写昵称" />
				</div>-->
				<!-- 表单验证提示信息 -->
				<!--<div>
				    <div class="info">
				        <span class="Validform_checktip">请填写昵称</span>
				        <span class="dec">
				            <s class="dec1">&#9670;</s>
				            <s class="dec2">&#9670;</s>
				        </span>
				    </div>
				</div>
			</div>-->
			<!-- 邮箱 -->
			<!--<div class="row">
				<div class="title">邮箱：</div>
				<div class="content">
					<input type="text" name="email" value="{$user_info['email']|default=''}" placeholder="将会在找回密码时用到" datatype="email" nullmsg="请填写邮箱" errormsg="请正确填写邮箱" />
				</div>-->
				<!-- 表单验证提示信息 -->
				<!--<div>
				    <div class="info">
				        <span class="Validform_checktip">请填写邮箱</span>
				        <span class="dec">
				            <s class="dec1">&#9670;</s>
				            <s class="dec2">&#9670;</s>
				        </span>
				    </div>
				</div>
			</div>-->
			<!-- QQ -->
			<!--<div class="row">
				<div class="title">QQ：</div>
				<div class="content">
					<input type="text" name="qq" value="{$user_info['qq']|default=''}" placeholder="请输入QQ号码" />
				</div>
			</div>-->
			<!-- 性别 -->
			<!--<div class="row">
				<div class="title">性别：</div>
				<div class="content">
					<label>
						<input class="radio_box" type="radio" name="sex" value="1" <neq name="user_info['sex']" value="2">checked="checked"</neq> />男
					</label>
					<label>
						<input class="radio_box" type="radio" name="sex" value="2" <eq name="user_info['sex']" value="2">checked="checked"</eq>/>女
					</label>
				</div>
			</div>-->
			<!--<input type="hidden" name="uid" value="{$user_info['uid']|default=''}">-->
			<!--<input class="link_btn" type="submit" value="提交" />-->
		</form>
	</section>
	<script type="text/javascript" src="__STATIC__/js/layer.js"></script>
	<script type="text/javascript" src="__STATIC__/check/check.js"></script>
	<script type="text/javascript" src="__JS__/info.js"></script>
</body>
</html>