<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/release_source.css" />
</head>
<body>
    <include file="Common/header"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 发布表单 -->
        <form>
            <input type="hidden" name="id" value="{$list['unordered']['id']}">
            <input type="hidden" name="uid" value="{:UID}">
            <!-- 地址 -->
            <!--起始地省市-->
            <input type="hidden" name="provincen" value="{$list['unordered']['provincen']}">
            <input type="hidden" name="cityn" value="{$list['unordered']['city']}">
            <!--目的地省市-->
            <input type="hidden" name="provincen2" value="{$list['unordered']['provincen2']}">
            <input type="hidden" name="cityn2" value="{$list['unordered']['city2']}">

            <!-- 地址 -->
            <div class="address_wrap">
                <input id='start_city' class="city_select" type="text" name="" value="{$list['unordered']['provincename']}{$list['unordered']['cityname']}" placeholder="请选择起始地" /> <span class="rotate_icon"></span>
                <input id="end_city" class="city_select" type="text" name="" value="{$list['unordered']['provincename']}{$list['unordered']['cityname']}" placeholder="请选择目的地">
            </div>
            <!-- 联系信息 -->
            <div class="weui-cells__title">联系信息</div>
            <div class="weui-cells">
                <!-- 姓名 -->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">收货人姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="receive_name" value="{$list['unordered']['receive_name']}">
                    </div>
                </div>
                <!-- 电话 -->
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">联系电话</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" name="receive_phone" value="{$list['unordered']['receive_phone']}" />
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">车辆信息</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">车长要求</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="truck_length">
                            <foreach name="list['truck_length']" item="vo">
                                <option <eq name="list['unordered']['truck_length']" value="$val">selected</eq> value="{$vo}">{$vo}</option>
                            </foreach>

                        </select>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">车辆类型</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="truck_type">
                            <foreach name="list['truck_type']" item="vo">
                            <option <eq name="list['unordered']['truck_type']" value="$val">selected</eq> value="{$vo}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <!--<div class="weui-cell">-->
                    <!--<div class="weui-cell__hd">-->
                        <!--<label class="weui-label">车源类型</label>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<select class="weui-select" name="">-->
                            <!--<foreach name="list['source_type']" item="vo">-->
                                <!--<option <eq name="list['info']['source_type']" value="$val">selected</eq> value="{$vo}">{$vo}</option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                        <!--<div class="select_icon"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">运输方式</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="transport_id">
                            <foreach name="list['goodsTransport']" item="vo">
                                <option <eq name="list['unordered']['goodsTransport']" value="$val">selected</eq> value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">载货信息</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">货物名称</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="name" value="{$list['unordered']['name']}" />
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">货物类型</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="category_id">
                            <foreach name="list['goodsType']" item="vo">
                                <option <eq name="list['unordered']['category_id']" value="$val">selected</eq> value="{$key}">{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">运费意向</label>
                    </div>
                    <div class="weui-cell__bd">
                         <input class="weui-input" type="number" name="freight_price" value="{$list['unordered']['freight_price']}" placeholder="请填写数字">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">货物体积</label>
                    </div>
                    <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="volume" value="{$list['unordered']['volume']}" placeholder="请填写数字">
                    </div>
                    <div class="weui-cell__ft">
                        <p>方</p>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">货物重量</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" name="weight" value="{$list['unordered']['weight']}" placeholder="请填写数字">
                    </div>
                    <div class="weui-cell__ft">
                            <label><input class="weight_select" type="radio" name="weight_unit" value="吨" checked />吨</label>
                        <label><input class="weight_select" type="radio" name="weight_unit" value="公斤" />公斤</label>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">发货日期</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" id='start_time' class="time_select" name="deliver_time" value="{$list['unordered']['deliver_time']}"/>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">截止日期</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" id='end_time' class="time_select" name="end_time" value="{$list['unorder']['end_time']}"/>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="select_icon"></div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">图片上传</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/gif,image/jpg,image/png" multiple="">
                            <!-- 图片上传 -->
                            <img class="upload_img" src="" />
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">货物说明</label></div>
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入货物说明" rows="3" name="remark"></textarea>
                        <div class="weui-textarea-counter"><span>{$list['unorder']['remark']}</span>/200</div>
                    </div>
                </div>
                <div class="weui-cell">
                    <button type="button" class="weui-btn weui-btn_primary">提交</button>
                </div>
            </div>
        </form>
    </section>
    <!-- 可视区域 结束 -->
    <!-- 底部 开始 -->
    <include file="Common/footer"/>
    <!-- 底部 结束 -->
    <script type="text/javascript">
        var city_name  = "{$city_name}";
        var defaultImg = '__STATIC__/images/default_icon.jpg';
        var imgUrl     = '__IMG__';
    </script>
    <!-- 地址选择器 -->
    <script type="text/javascript" src="__JS__/city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/jquery-weui.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/release_source.js"></script>
</body>
</html>
