<!DOCTYPE html>
<html>
<head>
	<include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/search.css" />
</head>
<body>
	<!-- 搜索页面 顶部 -->
	<header class="search_top">
		<div class="search_sort">
			<div class="search_sort_show">资讯</div>
			<div class="search_list">资讯</div>
			<div class="search_list">供应</div>
			<div class="search_list">产品</div>
			<div class="search_list">企业</div>
			<div class="search_list">求购</div>
			<a class="select_down" href="javascript:void(0)"><div class="down"><div></div></div></a>
			<a class="select_up" href="javascript:void(0)"><div class="up"><div></div></div></a>
		</div>
		<div class="search">
			<input type="text" placeholder="请输入关键词" />
			<a class="search_img" href="javascript:void(0);">
				<img src="__IMG__/search.png" width="15" height="14" />
			</a>
		</div>
		<a class="header_right" href="javascript:history.go(-1);">取消</a>
	</header>
	<!-- 搜索页面 主体 -->
	<section class="no_footer">
		<div class="pro_title">彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆彩妆</div>
		<div class="pro_title">衣服放衣服</div>
		<div class="pro_title">面膜面膜</div>
		<div class="pro_title">洗涤</div>
		<div class="pro_title">好吃的</div>
		<div class="clear_search fc lc">清空搜索历史</div>
	</section>
	<!-- 底部 -->
	<include file="Common/footer"/>
	<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="__JS__/search.js"></script>
</body>
</html>