.content{}
.content_tips{color:#f15252;font-size:16px;margin-top:30px;}
.content_list{font-size:16px;margin-top:30px;}
.content_opt{margin-top:30px;}
.content_opt .opt_btn{padding:6px 15px;background:#08bdb7;color:#fff;display:inline-block;margin-right:10px;}