<div class="left">
    <div class="left_wrap">
        <a class="left_home <eq name='site' value='home'>hover</eq>" href="?g=member&m=index"></a>
        <!--<a class="left_buy <eq name='site' value='buy'>hover</eq>" href="?g=member&m=buy&a=index&state=1"></a>-->
        <eq name="gid" value="2">
            <!--<a class="left_sale <eq name='site' value='sale'>hover</eq>" href="?g=member&m=sale"></a>-->
            <!--企业管理物流版-->
            <a class="left_sale <eq name='site' value='company'>hover</eq>" href="?g=member&m=company"></a>
        </eq>
        <!--站内信-->
        <!--<a class="left_msg <eq name='site' value='msg'>hover</eq>" href="?g=member&m=msg"></a>-->
        <!--我的收藏-->
        <!--<a class="left_collect <eq name='site' value='collect'>hover</eq>" href="?g=member&m=collect"></a>-->
        <!--权限列表-->
        <a class="left_collect <eq name='site' value='master'>hover</eq>" href="?g=member&m=master&a=index&type=1"></a>
        <!--帐号设置-->
        <a class="left_setting <eq name='site' value='setting'>hover</eq>" href="?g=member&m=setting"></a>
        <!--招聘-->
        <!--<eq name="gid" value="2">-->
            <!--<a class="left_recruit <eq name='site' value='recruit'>hover</eq>" href="?g=member&m=recruit&a=addPost"></a>-->
        <!--</eq>-->
    </div>
</div>