<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/company.css" />
<link rel="stylesheet" type="text/css" href="./Public/static/kindeditor/themes/default/default.css" />
<script type="text/javascript" src="./Public/static/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="./Public/static/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
<script type="text/javascript" src="__JS__/company.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 导航 -->
			<div class="nav">
				<a class="hover" href="?g=member&m=sale&a=company">企业简介</a>
				<a href="?g=member&m=sale&a=contact">联系方式</a>
			</div>
			<!-- 企业简介表单 开始 -->
			<form class="chkform form-horizontal" name="" action="" method="post">
				<div class="add_form">
					<!-- 企业名称 -->
					<div class="add_row">
						<div>
							<div class="add_name">企业名称：</div>
							<input class="t400" type="text" name="name" value="{$company_info['name']|default=''}" placeholder="请输入企业名称" datatype="title" nullmsg="请输入企业名称" errormsg="请输入企业名称" />
							<span class="add_star">*</span>
						</div>
						<!-- 表单验证提示信息 -->
						<div>
						    <div class="info">
						        <span class="Validform_checktip">请输入企业名称</span>
						        <span class="dec">
						            <s class="dec1">&#9670;</s>
						            <s class="dec2">&#9670;</s>
						        </span>
						    </div>
						</div>
					</div>
					<!-- 主营产品 -->
					<div class="add_row">
						<div>
							<div class="add_name">主营产品：</div>
							<input class="t400" type="text" name="business" value="{$company_info['business']|default=''}" placeholder="请输入主营产品" datatype="*" nullmsg="请输入主营产品" errormsg="请输入主营产品" />
							<span class="add_star">*</span>
						</div>
						<!-- 表单验证提示信息 -->
						<div>
						    <div class="info">
						        <span class="Validform_checktip">请输入主营产品</span>
						        <span class="dec">
						            <s class="dec1">&#9670;</s>
						            <s class="dec2">&#9670;</s>
						        </span>
						    </div>
						</div>
					</div>
					<!-- 企业logo -->
					<div class="add_row">
						<div class="add_name">企业logo：</div>
						<a id="logo_upload" class="add_upload" href="javascript:void(0);">上传图片</a>
						<input id="logo_url" type="hidden" name="logo" value="{$company_info['logo']|default=''}" />
						<span class="add_star">*</span>
						<span class="add_desc">建议尺寸：260*260</span>
					</div>
					<!-- 企业logo预览 -->
					<div class="add_row">
						<div class="add_name vat">企业logo预览：</div>
						<img id="logo_preview" src="{$company_info['logo']|default='__IMG__/default_img.png'}" width="80" height="80" />
					</div>
					<!-- 企业详情 -->
					<div class="add_row">
						<div class="add_name vat">企业详情：</div>
						<textarea id="company_content" name="summary">{$company_info['summary']|default=''}</textarea>
					</div>
					<!-- 保存按钮 -->
					<div class="add_row">
						<div class="add_name"></div>
						<input type="hidden" name="id" value="{$company_info['id']|default=''}">
						<input class="form_btn chksubmit ajax-post" type="submit" target-form="form-horizontal" value="保 存" />
					</div>
				</div>
			</form>
			<!-- 企业简介表单 开始 -->
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>