<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/order_detail.css"/>
<script type="text/javascript" src="__JS__/order_detail.js"></script>
</head>
<body>
    <!-- 顶部 开始 -->
    <include file="Common/top"/>
    <!-- 顶部 结束 -->
    <!-- 左侧 开始 -->
    <include file="Common/left"/>
    <!-- 左侧 结束 -->
    <!-- 主体 开始 -->
    <div class="main">
        <!-- 主体头部 -->
        <include file="Common/header"/>
        <!-- 主体内容 -->
        <div class="wrapper">
            <!-- 导航 -->
            <include file="Sale/ordernav"/>
            <!-- 买家信息 -->
            <div class="row">
                <span>收货人信息：</span>
                <span>{$address.name}&nbsp;&nbsp;&nbsp;</span>
                <span>{$address.phone}</span>
            </div>
            <!-- 买家地址 -->
            <div class="row">
                <span>收货地址：</span>
                <span>{$address.region}&nbsp;&nbsp;&nbsp;</span>
                <span>{$address.address}</span>
            </div>
            <!-- 订单编号 -->
            <div class="row">
                <span>订单编号：</span>
                <span>{$order.id}</span>
            </div>
            <!-- 下单时间 -->
            <div class="row">
                <span>下单时间：</span>
                <span>{$order.ctime|date="Y-m-d H:i",###}</span>
            </div>
            <!-- 订单总支付 -->
            <div class="row">
                <span>订单总支付：</span>
                <span>{$order.pay_price}</span>
            </div>
            <!-- 买家支付邮费 -->
            <div class="row">
                <span>买家支付邮费：</span>
                <span>{$order.freight_price}</span>
            </div>
            <!-- 优惠券减免 -->
            <div class="row">
                <span>优惠券减免：</span>
                <span>{$order.use_coupon}</span>
            </div>
            <!-- 当前状态 -->
            <div class="row">
                <span>当前状态：</span>
                <span>{$statusList[$order['state']]}</span>
            </div>
            <!-- 订单商品列表 -->
            <table class="data">
                <!-- 标题 开始 -->
                <tr class="data_title">
                    <td class="ti25">id</td>
                    <td class="ti25">图片</td>
                    <td class="ti25">名称</td>

                    <td>数量</td>
                    <td>单价(元)</td>
                    <td>总价(元)</td>
                    <td>规格</td>
                </tr>
                <!-- 标题 结束 -->
                <volist name="ordersub" id="or">
                    <!-- 一条数据 开始 -->

                    <tr>
                        <td class="ti25">{$or.goodid}</td>
                        <td><img  src="{$or.gpic}" width="80" height="80"/></td>
                        <td><p class="goods_name">{$or.goodname}</p></td>
                        <td>{$or.unitprice}(元)</td>
                        <td>{$or.nums}</td>
                        <td>{$or.totalprice}(元)</td>
                        <td>{$or.spec.spec1}&nbsp;&nbsp;&nbsp;{$or.spec.spec2}</td>
                    </tr>
                    <!-- 一条数据 结束 -->
                </volist>
            </table>
            <!-- 关闭按钮 -->
            <div class="tac">
                <a class="base_back" href="?g=member&m=sale&a=order">关 闭</a>
            </div>
        </div>
        <!-- 主体 结束 -->
    </div>
</body>
</html>