<div class="nav">
    <a <eq name="nav" value="detail">class="hover"</eq> href="?g=member&m=sale&a=detail&id={$order_info.id}">订单详情</a>
    <a <eq name="nav" value="send">class="hover"</eq> href="?g=member&m=sale&a=send&id={$order_info.id}">发货</a>
    <!-- <a <eq name="nav" value="logistics">class="hover"</eq> href="?g=member&m=sale&a=logistics&id={$order_info.id}">物流跟踪</a> -->
    <a <eq name="nav" value="orderlog">class="hover"</eq> href="?g=member&m=sale&a=orderlog&id={$order_info.id}">日志</a>
    <a <eq name="nav" value="refund">class="hover"</eq> href="?g=member&m=sale&a=refund&id={$order_info.id}">退款</a>
</div>