<!doctype html>
<html>
<head>
    <include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/repassword.css" />
</head>
    <body>
        <!-- 头部 开始 -->
        <include file="Common/header"/>
        <!-- 头部 结束 -->
        <!-- 主体内容 开始 -->
        <section class="repassword_wrapper no_footer">
        <form>
            <!-- 账号、验证码、密码输入框 -->
            <div class="repassword_content">
                <p class="repassword_item repassword_content_phone">
                    <i class="repassword_content_phone_icon"></i>
                    <input type="hidden" name="uid" value="1" />
                    <input class="repassword_content_phone_input" type="text" name="mphone" placeholder="请输入手机号码" />
                    <span class="repassword_content_valid_btn">发送验证码</span>
                    <span class="sent"></span>
                </p>
                
                <p class="repassword_item repassword_content_valid">
                    <i class="repassword_content_valid_icon"></i>
                    <input class="repassword_content_valid_input" type="text" name="captcha" placeholder="请输入验证码" />
                </p>
                <p class="repassword_item repassword_content_password">
                    <i class="repassword_content_password_icon"></i>
                    <input class="repassword_content_password_input" type="password" name="password" placeholder="请输入新密码" />
                    <span class="repassword_content_password_see nosee"></span>
                </p>
                <!--<p class="repassword_item repassword_content_password">-->
                    <!--<i class="repassword_content_password_icon"></i>-->
                    <!--<input class="repassword_content_password_input" type="password" name="passwordTwo" placeholder="请再次输入新密码" />-->
                    <!--<span class="repassword_content_password_see nosee"></span>-->
                <!--</p>-->
            </div>
            
            <div class="repassword_btn_wrap">
                <a class="repassword_btn" href="javascript:void(0);">确定</a>
            </div>
        </form>
        </section>
        <!-- 主体内容 结束 -->
	<script type="text/javascript" src="__JS__/repassword.js"></script>
    </body>
</html>