<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/customer_msg.css" />
<script type="text/javascript" src="__JS__/customer_msg.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 客户询盘数据 开始 -->
			<table class="data">
				<!-- 标题 开始 -->
				<tr class="data_title">
					<td class="ti25">标题</td>
					<td>内容</td>
					<td align="center">操作</td>
				</tr>
				<!-- 标题 结束 -->
				<!-- 一条数据 开始 -->
				<tr>
					<td class="ti25">
						<p>平价方未及时做出评价，系统默认给好评！</p>
						<p class="gray">[2015-09-24 17:10:51]</p>
					</td>
					<td>
						<p>中国电信官方旗舰店中国电信官方旗舰店中国电信官方旗舰店中国电信官方旗舰店</p>
					</td>
					<td class="data_opt" align="center">
						<a href="?g=member&m=msg&a=customer_detail">查看详情</a>
						<a href="javascript:void(0);">删除</a>
					</td>
				</tr>
				<!-- 一条数据 结束 -->
				<!-- 一条数据 开始 -->
				<tr>
					<td class="ti25">
						<p>平价方未及时做出评价，系统默认给好评！</p>
						<p class="gray">[2015-09-24 17:10:51]</p>
					</td>
					<td>
						<p>中国电信官方旗舰店</p>
					</td>
					<td class="data_opt" align="center">
						<a href="?g=member&m=msg&a=customer_detail">查看详情</a>
						<a href="javascript:void(0);">删除</a>
					</td>
				</tr>
				<!-- 一条数据 结束 -->
			</table>
			<!-- 客户询盘数据 结束 -->
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>