<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/msg_detail.css" />
<script type="text/javascript" src="__JS__/msg_detail.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 消息头部 -->
			<div class="msg_header">
				<p class="msg_title">中秋节放假通知</p>
				<p class="msg_date">2015-09-25 14:02:30</p>
			</div>
			<!-- 消息内容 -->
			<div class="msg_content">12</div>
			<!-- 返回按钮 -->
			<!-- 返回按钮 -->
			<div class="tac">
				<a class="base_back" href="javascript:history.go(-1);">返 回</a>
			</div>
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>