<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/kindeditor/themes/default/default.css" />
    <script type="text/javascript" src="__STATIC__/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="__JS__/need_add.js"></script>
</head>
<body>
    <!-- 顶部 开始 -->
    <include file="Common/top"/>
    <!-- 顶部 结束 -->
    <!-- 左侧 开始 -->
    <include file="Common/left"/>
    <!-- 左侧 结束 -->
    <!-- 主体 开始 -->
    <div class="main">
        <div class="wrapper">
            <!-- 主体头部 -->
            <div class="header">
                <h2>供应管理中心</h2>
                <a href="?g=admin&m=product&a=supply">供应列表</a>
                <a class="hover" href="?g=admin&m=product&a=supply_add">添加供应</a>
            </div>
            <h3>添加供应</h3>
            <!-- 主体数据 -->
            <form class="form-horizontal chkform" name="" action="" method="post">
                <input type="hidden" name="id" value="{$detail.id}"/>
                <input type="hidden" name="proid" value="{$Think.session.user_id}"/>
                <table class="add_table">
                    <!-- 长标题输入框 -->
                    <tr>
                        <td class="w120">标题：</td>
                        <td>
                            <input class="i400" type="text" name="title" value="{$detail.title}" datatype="title" nullmsg="请填写标题" errormsg="请填写2-50位字符" />
                        </td>
                        <!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写标题</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 短标题输入框 -->
                    <tr>
                        <td class="w120">短标题：</td>
                        <td>
                            <input class="i200" type="text" name="short_title" value="{$detail.short_title}" datatype="title" nullmsg="请填写短标题" errormsg="请填写2-50位字符" />
                        </td>
                        <!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写短标题</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 分类下拉框 -->
                    <tr>
                        <td class="w120">分类：</td>
                        <td>
                            <select class="pl3" name="supply_category_id">
                                <option value="">请选择分类</option>
                                <volist name="classify" id="cl">
                                    <option value="{$cl.id}" <eq name="cl.id" value="$detail.supply_category_id">selected="selected"</eq> > {$cl.name}</option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <!-- 发布人类型 -->
                    <tr id="issue_type">
                        <td class="w120">发布人类型：</td>
                        <td>
                            <label class="mgr">
                                <input class="pt3" type="radio" name="issue_type" value="2" checked />
                                <span>企业</span>
                            </label>
                            <label>
                                <input class="pt3" type="radio" name="issue_type" value="1" <eq name="detail.issue_type" value="1">checked</eq> />
                                <span>个人</span>
                            </label>
                        </td>
                    </tr>
                    <!-- 发布企业下拉框 -->
                    <tr>
                        <td class="w120">发布者：</td>
                        <td>
                            <select id="issue_author" class="pl3" name="company_id">
                                <option value="">请选择</option>
                                <volist name="company" id="co">
                                <option value="{$co.id}" <eq name="co.id" value="$detail.company_id">selected</eq>>{$co.name|default='个人'}<eq name="detail.issue_type" value="1">({$co.mobile})</eq></option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <!-- 数量 -->
                    <tr>
                        <td class="w120">数量：</td>
                        <td>
                            <input class="i200" type="text" name="num" value="{$detail.num}" datatype="n" nullmsg="请填写数量" errormsg="请填写数字" />
                            <select class="pl3" name="unit">
                                <option value="1" <eq name="detail.unit" value="1">selected = "selected"</eq>>件</option>
                                <option value="2" <eq name="detail.unit" value="2">selected = "selected"</eq>>批</option>
                                <option value="3" <eq name="detail.unit" value="3">selected = "selected"</eq>>千克</option>
                                <option value="4" <eq name="detail.unit" value="4">selected = "selected"</eq>>块</option>
                                <option value="5" <eq name="detail.unit" value="5">selected = "selected"</eq>>台</option>
                                <option value="6" <eq name="detail.unit" value="6">selected = "selected"</eq>>吨</option>
                            </select>
                        </td>
                        <!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写数量</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
                    </tr>
                    
                    <!-- 单价 -->
                    <tr>
                        <td class="w120">单价：</td>
                        <td>
                            <input class="i200" type="text" name="price" value="{$detail.price}" datatype="price" nullmsg="请填写单价" errormsg="请填写正确的单价（整数或包含两位小数）" />
                            <span>元</span>
                        </td>
                        <!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写单价</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 有效天数 -->
                    <tr>
                        <td class="w120">有效天数：</td>
                        <td>
                            <input class="i200" type="text" name="days" value="{$detail.days}" datatype="n" nullmsg="请填写有效天数" errormsg="请填写数字" />
                            <span>天</span>
                            <span class="pl3">范围为0~90天,0为永久有效</span>
                        </td>
                        <!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写有效天数</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 供应图片按钮 -->
                    <tr>
                        <td class="w120"><span class="star">*</span>供应图片：</td>
                        <td>
                            <a id="img" class="opt_btn mgl0" href="javascript:void(0);">选择图片</a>
                            <input id="img_url" type="hidden" name="img" value="{$detail.img}" />
                            <span class="pl3">建议尺寸：160*160</span>
                        </td>
                    </tr>
                    <!-- 供应图片预览 -->
                    <tr <empty name="detail.img">class="no"</empty>>
                        <td class="w120">供应图片预览：</td>
                        <td><img id="img_preview" src="{$detail.img}" width="80" height="80" /></td>
                    </tr>
                    <!-- 关键词 -->
                    <!-- <tr>
                        <td class="w120">关键词：</td>
                        <td>
                            <input class="i400" type="text" name="seo_keywords" value="{$detail.seo_keywords}" />
                        </td>
                    </tr> -->
                    <!-- 描述 -->
                    <!-- <tr>
                        <td class="w120">描述：</td>
                        <td>
                            <textarea class="t400" name="seo_description">{$detail.seo_description}</textarea>
                        </td>
                    </tr> -->
                    <!-- 内容 -->
                    <tr>
                        <td class="w120">供应内容：</td>
                        <td>
                            <textarea id="need_content" name="summary">{$detail.summary}</textarea>
                        </td>
                    </tr>
                    <!-- 是否显示 -->
                    <tr>
                        <td class="w120">是否显示：</td>
                        <td>
                            <label class="mgr">
                                <input class="pt3" type="radio" name="status" value="1" checked="checked"<eq name="detail.status" value="1"> checked="checked" </eq> />
                                <span>显示</span>
                            </label>
                            <label>
                                <input class="pt3" type="radio" name="status" value="0" <eq name="detail.status" value="0"> checked="checked" </eq> />
                                <span>不显示</span>
                            </label>
                        </td>
                    </tr>
                    <!-- 操作 -->
                    <tr class="add_opt">
                        <td></td>
                        <td>
                            <input class="opt_btn ajax-post mgl0 chksubmit" target-form="form-horizontal" type="submit" value="确认提交" />
                            <input class="opt_btn" type="reset" value="重置表单" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- 主体 结束 -->
</body>
</html>
