<!doctype html>
<html>
<head>
    <include file="Common/head"/>
</head>
<body>
    <!-- 顶部 开始 -->
    <include file="Common/top"/>
    <!-- 顶部 结束 -->
    <!-- 左侧 开始 -->
    <include file="Common/left"/>
    <!-- 左侧 结束 -->
    <!-- 主体 开始 -->
    <div class="main">
        <div class="wrapper">
            <!-- 主体头部 -->
            <div class="header">
                <h2>系统消息管理中心</h2>
                <a href="?g=admin&m=member&a=message">系统消息列表</a>
                <a class="hover" href="?g=admin&m=member&a=message_add">添加系统消息</a>
            </div>
            <h3>发送系统消息</h3>
            <!-- 添加系统消息表单 -->
            <form class="form-horizontal chkform" name="" action="" method="post">
                <table class="add_table">
                    <tr>
                        <td class="w120">发送对象：</td>
                        <td>
                            <label>
                                <input class="pt3 send_to_type" type="radio" name="to_type" value="1" checked="checked" />
                                <span>全体会员</span>
                            </label>
                            <label>
                                <input id="preson" class="pt3 send_to_type" type="radio" name="to_type" value="2" <eq name="detail.to_type" value="2">checked</eq> />
                                <span>个人</span>
                            </label>
                        </td>
                    </tr>
                    <tr id="to_user" class="no">
                        <td class="w120">用户名：</td>
                        <td>
                            <input class="i200" type="text" name="to_user" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="w120">标题：</td>
                        <td>
                            <input class="i200" type="text" name="title" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="w120">内容：</td>
                        <td>
                            <textarea class="t400" name="message"></textarea>
                        </td>
                    </tr>
                    <!-- 提交按钮 -->
                    <tr class="add_opt">
                        <td></td>
                        <td>
                            <input class="opt_btn ajax-post mgl0 chksubmit" target-form="form-horizontal" type="submit" value="确定提交">
                            <input class="opt_btn" type="reset" value="重置表单">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- 主体 结束 -->
    <script type="text/javascript" src="__JS__/system_msg_add.js"></script>
</body>
</html>
