/* css初始化 */
*{-webkit-tap-highlight-color:transparent;}
html,body,article{margin:0;padding:0;}
body{min-height:100%;background:#fff;font:normal normal normal 14px/1.5 'Microsoft YaHei',Arial,Helvetica,sans-serif;color:#333;-webkit-text-size-adjust:100%;}
/* 图文详情样式 */
article{overflow:hidden;word-break:break-all;word-wrap:break-word;margin:0 16px;}
article img{margin:0 auto;}
article img,
article embed,
article table,
article iframe{max-width:100%;}
article pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}