<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/find.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui_rewrite.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/category.css"/>
</head>
<body>
    <include file="Common/header_more"/>
    <!-- 可视区域 开始 -->
    <section class="viewport">
        <!-- 头部导航开始 -->
        <div class="weui-navbar">
            <div class="weui-navbar__item active">
                物<span>流分</span>类
            </div>
            <div class="weui-navbar__item">
                地<span>区分</span>类
            </div>
        </div>
        <!-- 头部导航结束 -->
        <!-- 中间分类选择 -->
        <div class="weui-grids">
            <a href="" class="weui-grid js_grid">
                <!-- <div class="grid_image">
                    <img src="__IMG__/wlxx.png" alt="">
                </div>
                <p class="weui-grid__label">
                    物流信息
                </p> -->
                <div class="grid_image">
                    <img src="__IMG__/hy.png">
                </div>
                <div class="grid_title">
                    <p class="china_title">海运</p>
                    <p class="els_title">Ocean Shipping</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/ly.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">陆运</p>
                    <p class="els_title">Land Transportation</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/ty.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">铁运</p>
                    <p class="els_title">Trains</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/kd.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">快递</p>
                    <p class="els_title">Express</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/ccps.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">仓储配送</p>
                    <p class="els_title">Goods Storage</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/ykwl.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">永康物流</p>
                    <p class="els_title">YongKang Logistics</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/zxfw.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">装卸服务</p>
                    <p class="els_title">Loading / Unloading</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/dlhy.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">代理货运</p>
                    <p class="els_title">Agent Freight</p>
                </div>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="grid_image">
                    <img src="__IMG__/wlzx.png" alt="">
                </div>
                <div class="grid_title">
                    <p class="china_title">物流专线</p>
                    <p class="els_title">Logistics Line</p>
                </div>
            </a>
        </div>
        <!-- 中间分类选择 -->
        <!-- 底部 开始 -->
        <include file="Common/footer"/>
        <!-- 底部 结束 -->
    </section>
    <script type="text/javascript" src="__STATIC__/js/carousel.js"></script>
    <script type="text/javascript" src="__JS__/category.js"></script>
</body>
</html>