<!DOCTYPE html>
<html>
<head>
	<include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/list.css" />
</head>
<body>
	<!-- 头部 开始 -->
    <include file="Common/header_se"/>
    <!-- 头部 结束 -->
    <section>
    	<form>
    		<div class="search">
                <input type="text" name="keyword" placeholder="请输入资讯关键词">      
            </div>
            <div class="btn_group">
                <a href="javascript:;" class="weui-btn weui-btn_primary">查询</a>
            </div>
    	</form>
        
    </section>
</body>
<script type="text/javascript" src="__JS__/list.js" charset="utf-8"></script>
</html>