<!doctype html>
<html>
<head>
    <include file="Common/head"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/mycompany.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/share.css" />
</head>
<body>
    <!-- 头部 -->
	<include file="Common/header_share"/>
	<!-- 主体内容 开始 -->
	<section class="mycompany_wrapper no_footer">
        <!-- 顶部 -->
		<div class="mycompany_top">
            <!-- 顶部图片 -->
            <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/company_top_bg.jpg" width="100%" height="auto" />
            <div class="mycompany_top_pn">
                <!-- 顶部头像 -->
                <a class="mycompany_top_sculpture" href="javascript:void(0);">
                    <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/goods_picture.jpg" width="70" height="70" />
                </a>
                <!-- 顶部昵称 -->
                <p class="mycompany_top_nickname">xj123665894</p>
            </div>
        </div>
        <!-- 顶部 -->
        <!-- 公司信息、联系方式 -->
        <div class="mycompany_ic">
            <a class="mycompany_info mycompany_link" href="?g=app&m=company&a=info">
                <p class="mycompany_info_title mycompany_link_title">公司信息</p>
                <div class="next_arrow"><div class="gt"><div></div></div></div>
            </a>
        </div>
        <!-- 公司信息、联系方式 -->
        <!-- 推荐产品 -->
        <div class="mycompany_recommend mycompany_link">
            <p class="mycompany_recommend_title mycompany_link_title">推荐产品</p>
            <a class="mycompany_recommend_more" href="?g=app&m=product">查看更多</a>
            <div class="next_arrow"><div class="gt"><div></div></div></div>
        </div>
        <!-- 推荐产品 -->
        <!-- 商品列表 -->
        <div class="mycompany_list_wrap">
            <a class="mycompany_list" href="?g=app&m=product&a=detail">
                <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/list.png" width="130" height="130" />
                <div class="mycompany_list_info">
                    <p class="mycompany_info_title">安娜精灵女士淡香水500ML</p>
                    <p class="mycompany_info_text">相信心灵出的美梦,享受充满魔法、精灵的童话故事</p>
                    <p class="mycompany_info_price">￥56.00</p>
                </div>
            </a>
            <a class="mycompany_list" href="?g=app&m=product&a=detail">
                <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/list.png" width="130" height="130" />
                <div class="mycompany_list_info">
                    <p class="mycompany_info_title">安娜精灵女士淡香水500ML</p>
                    <p class="mycompany_info_text">相信心灵出的美梦,享受充满魔法、精灵的童话故事</p>
                    <p class="mycompany_info_price">￥56.00</p>
                </div>
            </a>
            <a class="mycompany_list" href="?g=app&m=product&a=detail">
                <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/list.png" width="130" height="130" />
                <div class="mycompany_list_info">
                    <p class="mycompany_info_title">安娜精灵女士淡香水500ML</p>
                    <p class="mycompany_info_text">相信心灵出的美梦,享受充满魔法、精灵的童话故事</p>
                    <p class="mycompany_info_price">￥56.00</p>
                </div>
            </a>
            <a class="mycompany_list" href="?g=app&m=product&a=detail">
                <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/list.png" width="130" height="130" />
                <div class="mycompany_list_info">
                    <p class="mycompany_info_title">安娜精灵女士淡香水500ML</p>
                    <p class="mycompany_info_text">相信心灵出的美梦,享受充满魔法、精灵的童话故事</p>
                    <p class="mycompany_info_price">￥56.00</p>
                </div>
            </a>
            <a class="mycompany_list" href="?g=app&m=product&a=detail">
                <img class="delay" src="__IMG__/pixel.gif" data-echo="__IMG__/list.png" width="130" height="130" />
                <div class="mycompany_list_info">
                    <p class="mycompany_info_title">安娜精灵女士淡香水500ML</p>
                    <p class="mycompany_info_text">相信心灵出的美梦,享受充满魔法、精灵的童话故事</p>
                    <p class="mycompany_info_price">￥56.00</p>
                </div>
            </a>
        </div>
	</section>
    <!-- 主体内容 结束 -->
    <!-- 遮罩层 开始 -->
    <div class="mask no"></div>
    <!-- 遮罩层 结束 -->
    <!-- 分享弹框 开始 -->
    <div class="share_bomb_box no">
        <p class="share_bomb_box_title">选择分享方式</p>
        <div class="share_bomb_box_line">
            <a class="line" href="javascript:void(0);">
                <i class="line_weixin_friend"></i>
                <p>微信好友</p>
            </a>
            <a class="line" href="javascript:void(0);">
                <i class="line_friend_circle"></i>
                <p>朋友圈</p>
            </a>
            <a class="line" href="javascript:void(0);">
                <i class="line_sina"></i>
                <p>新浪</p>
            </a>
            <a class="line" href="javascript:void(0);">
                <i class="line_qq"></i>
                <p>QQ</p>
            </a>
            <div class="clear"></div>
        </div>
        <div class="share_bomb_box_line">
            <a class="line" href="javascript:void(0);">
                <i class="line_qzone"></i>
                <p>QQ空间</p>
            </a>
            <a class="line" href="javascript:void(0);">
                <i class="line_tencent_blog"></i>
                <p>腾讯微博</p>
            </a>
            <div class="clear"></div>
        </div>
        <a class="share_bomb_box_cancel" href="javascript:void(0);">取消</a>
    </div>
    <!-- 分享弹框 结束 -->
	<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/delay.js"></script>
	<script type="text/javascript" src="__JS__/share.js"></script>
</body>
</html>