<!doctype html>
<html>
<head>
	<include file="Common/head"/>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
	<input  type="hidden" id="abouts1" value="{$abouts|default=0}" />
	<input  type="hidden" id="type1" value="{$type}"/>
		<div class="wrapper">
			<!-- 主体头部 -->
			<div class="header">
				<h2>推送消息管理中心</h2>
				<a href="?g=admin&m=push">推送消息列表</a>
				<a class="hover" href="?g=admin&m=push&a=add">添加推送消息</a>
			</div>
			<h3>添加推送消息</h3>
			<!-- 添加消息表单 -->
			<form class="form-horizontal chkform" name="" action="" method="post">
				<input  type="hidden" name="id" value="{$detail.id}"/>
				<table class="add_table">
					<tr>
						<td class="w120">关联页面：</td>
						<td>
							<select name="type" onchange="gets()" datatype="Require" msg="请选择关联的页面"><option class="pl3" value=3 <if condition="$s_url.type eq 3">selected</if>>公告</option><option class="pl3" value=1 <if condition="$s_url.type eq 1">selected</if>>资讯</option><option class="pl3" value=2 <if condition="$s_url.type eq 2">selected</if>>产品</option></select>&nbsp;&nbsp;&nbsp;<select name="abouts" id="abouts"  datatype="Require" msg="请选择关联的页面"><option class="pl3">----请选择----</option></select>
						</td>
					</tr>
					<tr>
						<td class="w120">推送标题：</td>
						<td>
							<input class="i400 artFir" name="title" type="text" value="{$detail.title}" datatype="title" nullmsg="请填写推送标题" errormsg="请填写推送标题" />
						</td>
						<!-- 表单验证提示信息 -->
                        <td>
                            <div class="info">
                                <span class="Validform_checktip">请填写推送标题</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </td>
					</tr>
					<tr>
						<td class="w120">推送内容：</td>
						<td>
							<textarea class="artSec t400" id="content" name="content">{$detail.content}</textarea>
						</td>
					</tr>
					<!-- 提交按钮 -->
					<tr class="add_opt">
						<td></td>
						<td>
							<input class="opt_btn ajax-post mgl0 chksubmit" target-form="form-horizontal" type="submit" value="确定提交" />
							<span class="pl3 ">建议不要频繁推送消息</span>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- 主体 结束 -->
<script>
var $selObj=$('#abouts');
  function gets(){
	var d = $("select[name=type]").val();
	$.ajax({
	  url:'?g=admin&m=push&a=ajaxlist&type='+d,
	  type:'get',
	  success:function(a){
	  $selObj.empty();
		if(a==-1){
		  return;
		}else{
			a = jQuery.parseJSON(a);
			for(var i=0,artLen=a.length,artOne;i<artLen;i++){
				artOne='<option value='+a[i].id+' title='+a[i].title+' content='+a[i].desc+'>'+a[i].stitle+'</option>';
				$selObj.append(artOne);
			}
			doIt();

		}
	  }
	});
  }
  function getsedit(){
	
	var sel = $("#abouts1").val();
	var d = $("select[name=type]").val();
	$.ajax({
	  url:'?g=admin&m=push&a=ajaxlist&type='+d,
	  type:'get',
	  success:function(a){
	  $selObj.empty();
		if(a==-1){
		  return;
		}else{
			//a = $.parseJSON(a);
			for(var i=0,artLen=a.length,artOne;i<artLen;i++){
				if(a[i].id==sel){
					artOne='<option selected value='+a[i].id+' title='+a[i].title+' content='+a[i].desc+'>'+a[i].stitle+'</option>';
				}else{
					artOne='<option value='+a[i].id+' title='+a[i].title+' content='+a[i].desc+'>'+a[i].stitle+'</option>';
				}
				$selObj.append(artOne);
			}
		}
	  }
	});
  }
function doIt(){
	var yiStr,erStr;
	yiStr=$("#abouts option:selected").text();
	erStr=$("#abouts option:selected").attr('content');
	$('.artFir').val(yiStr);
	$('.artSec').val(erStr);
}
$('#abouts').change(function(){
	doIt();
});
var ab = $("#abouts1").val();
var ty = $("#type1").val();
if(ty && ab){
getsedit();
}else{
gets();
}
</script>
</body>
</html>
