<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/address.css" />
<script type="text/javascript" src="__JS__/address.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 新增按钮 -->
			<a class="add" href="?g=member&m=buy&a=add">新 增</a>
			<!-- 收货地址数据 开始 -->
			<table class="data">
				<!-- 标题 开始 -->
				<tr class="data_title">
					<td class="ti25">收货人</td>
					<td>所在地区</td>
					<td>详细地址</td>
					<td>邮编</td>
					<td>联系电话</td>
					<td align="center">操作</td>
					<td align="center"></td>
				</tr>
				<!-- 标题 结束 -->
				<!-- 一条数据 开始 -->
				<foreach name="list" item="val">
				<tr>
					<td class="ti25">{$val['name']}</td>
					<td>{$val['address_detail']}</td>
					<td>{$val['address']}</td>
					<td>{$val['zip']}</td>
					<td>{$val['phone']}</td>
					<td class="data_opt" align="center">
						<a href="?g=member&m=buy&a=add&id={$val['id']}">修改</a>
						<a class="del_address" href="javascript:void(0);">删除</a>
					</td>
					<neq name="val['type']" value="1">
					<td class="data_default" align="center">
						<a class="set_address" href="javascript:void(0);">设置为默认地址</a>
					</td>
					</neq>
					<input type="hidden" value="{$val['id']}">
				</tr>
				</foreach>
				<!-- 一条数据 结束 -->
				
			</table>
		</div>
		<!-- 主体 结束 -->
	</div>
	<script type="text/javascript" src="__JS__/address.js"></script>
</body>
</html>