<div class="nav">
    <a <eq name="nav" value="index">class="hover"</eq> href="?g=member&m=sale">发布产品信息</a>
    <a <eq name="nav" value="product">class="hover"</eq> href="?g=member&m=sale&a=product">产品管理</a>
    <a <eq name="nav" value="order">class="hover"</eq> href="?g=member&m=sale&a=order">订单管理</a>
    <a <eq name="nav" value="need">class="hover"</eq> href="?g=member&m=sale&a=need">求购管理</a>
    <a <eq name="nav" value="freight">class="hover"</eq> href="?g=member&m=sale&a=freight">运费模板管理</a>
<!--     <a <eq name="nav" value="refund">class="hover"</eq> href="?g=member&m=sale&a=refund">返现申请</a>
    <a <eq name="nav" value="result">class="hover"</eq> href="?g=member&m=sale&a=result">返现申请结果</a> -->
    <!--<a <eq name="nav" value="usercomment">class="hover"</eq> href="?g=member&m=sale&a=usercomment">商家评价</a>-->
</div>