<include file="Common/head"/>
<link rel="stylesheet" type="text/css" href="__CSS__/refund.css" />
<script type="text/javascript" src="__JS__/refund.js"></script>
</head>
<body>
	<!-- 顶部 开始 -->
	<include file="Common/top"/>
	<!-- 顶部 结束 -->
	<!-- 左侧 开始 -->
	<include file="Common/left"/>
	<!-- 左侧 结束 -->
	<!-- 主体 开始 -->
	<div class="main">
		<!-- 主体头部 -->
		<include file="Common/header"/>
		<!-- 主体内容 -->
		<div class="wrapper">
			<!-- 导航 -->
            <include file="Sale/nav"/>
			<!-- 返现申请表单 开始 -->
			<form class="chkform form-horizontal" name="" action="" method="post">
				<div class="add_form">
					<div class="add_row">
						<div class="add_name">账户拥有金额：</div>
						<input class="t400" type="text" name="" value="{$price}"  />
						<span class="add_star">*</span>
					</div>
					<!-- 返现金额 -->
					<div class="add_row">
						<div>
							<div class="add_name">返现金额：</div>
							<input class="t400" type="text" name="withdrawals" value="" placeholder="请输入返现金额" datatype="price" nullmsg="请输入返现金额" errormsg="请填写正确的返现金额" />
							<span class="add_star">*</span>
						</div>
                        <!-- 表单验证提示信息 -->
                        <div>
                            <div class="info">
                                <span class="Validform_checktip">请输入返现金额</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </div>
					</div>
					<!-- 返款帐号 -->
					<div class="add_row">
						<div>
							<div class="add_name">返款帐号：</div>
							<input class="t400" type="text" name="task" value="" placeholder="请输入返款帐号" datatype="*" nullmsg="请输入返款帐号" />
							<span class="add_star">*</span>
						</div>
                        <!-- 表单验证提示信息 -->
                        <div>
                            <div class="info">
                                <span class="Validform_checktip">请输入返款帐号</span>
                                <span class="dec">
                                    <s class="dec1">&#9670;</s>
                                    <s class="dec2">&#9670;</s>
                                </span>
                            </div>
                        </div>
					</div>
					<!-- 收款人姓名 -->
					<div class="add_row">
						<div>
							<div class="add_name">收款人姓名：</div>
							<input class="t400" type="text" name="cname" value="" placeholder="请输入收款人姓名" datatype="title" nullmsg="请输入收款人姓名" errormsg="请填写2-50位字符" />
							<span class="add_star">*</span>
						</div>
						<!-- 表单验证提示信息 -->
						<div>
							<div class="info">
								<span class="Validform_checktip">请输入收款人姓名</span>
								<span class="dec">
									<s class="dec1">&#9670;</s>
									<s class="dec2">&#9670;</s>
								</span>
							</div>
						</div>
					</div>
					<!-- 返款方式 -->
					<div class="add_row">
						<div class="add_name">返款方式：</div>
						<select name="type">
							<option value="1">支付宝</option>
							<option value="2">银联转账</option>
						</select>
						<span class="add_star">*</span>
					</div>
					<!-- 申请按钮 -->
					<div class="add_row">
						<div class="add_name"></div>
						<input class="form_btn ajax-post chksubmit" type="submit" target-form="form-horizontal" value="申 请" />
					</div>
				</div>
			</form>
			<!-- 返现申请表单 结束 -->
		</div>
		<!-- 主体 结束 -->
	</div>
</body>
</html>