<!doctype html>
<html>
<head>
    <include file="Common/head"/>
    <style type="text/css">
        html,body{height:100%;}
        section{height:100%;padding:10px;background:#fff;}
        .items_title{word-wrap:break-word;word-break:break-all;}
        a{color:#00f;}
        p{font-size:14px;padding:10px 0;}
        .img_wrap{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;margin-bottom: 10px;}
        .img_wrap img{max-width:100%;max-height:100%;}
    </style>
</head>
<body>
    <!-- 可视区域 开始 -->
    <section <neq name="Think.get.appsign" value="1">class="no_footer"</neq>>
        <div class="items_title">
            更多的商户配置请登录PC后台网址：<a href="{$Think.config.HTTP_ORIGIN}/member">{$Think.config.HTTP_ORIGIN}/member</a>建议使用笔记本/电脑等设备进行登录操作）
        </div>
        <p>PC后台截图：</p>
        <div class="img_wrap">
            <img src="__IMG__/ins1.jpg" />
        </div>
        <div class="img_wrap">
            <img src="__IMG__/ins2.png" />
        </div>
    </section>
    <!-- 可视区域 结束 -->
</body>
</html>